# pytest
.coverage
.pytest
.pytest_cache

# Python
*__pycache__*
*.egg-info
*.py[cod]
*.sh.e*
*.sh.o*

scripts/
venv/
runs/
mlruns/
outputs/
data/jetclass/
*~
*.hdf5
*.npy
*.npz
*.ipynb_checkpoint*
notebooks/*.pdf

results/
*.log
